body{
    background-color: rgb(153, 153, 153);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

