body{
    background-color: rgb(105, 166, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20%;
}

h3{
    text-align: center;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

